@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

@media print {
  @page {
    size: A4 portrait;
    margin: 10mm;
  }
  body {
    background: white;
  }
}
